<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="aluno">Cadastrar Aluno</a></li>
      <li><a href="turma">Cadastrar Turma</a></li>
      <li><a href="matricula">Cadastrar Matrícula</a></li>
    </ul>
  </nav>
  <h1>Cadastro de Aluno</h1>
  <form action="/cadastrar" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="data_nascimento">Data de Nascimento:</label>
    <input type="date" id="data_nascimento" name="data_nascimento" required><br><br>

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" required><br><br>

    <input type="submit" value="Cadastrar">
  </form>
</body>

</html>