<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="aluno">Cadastrar Aluno</a></li>
      <li><a href="turma">Cadastrar Turma</a></li>
      <li><a href="matricula">Cadastrar Matrícula</a></li>
    </ul>
  </nav>

  <br>

  <div style="text-align:center;">
    <h2>Lista de chamada</h2>
  </div>

  <div class="filter">
    <input type="number" placeholder="Digite a turma">
    <button>Pesquisar</button>
  </div>

  <br>
    
  <div>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Chamada</th>
        </tr>
      </thead>
      <tbody class="tbody">
        
      </tbody>
    </table>
  </div>

  <script src="script.js"></script>

</body>

</html>