body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #008080;
    text-align: center;
  }

  form {
    border: 1px solid #008080;
    padding: 20px;
    width: 400px;
    margin: auto;
  }

  label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
  }

  input[type="submit"] {
    background-color: #008080;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #006666;
  }

  nav {
    text-align: center;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .filter input[type="number"] {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }

  .filter select {
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .filter button {
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  
  